body {
  background: black;
  position: relative;
  width: 1240px;
  height: 660px;
}

input{
  outline:none;
}

.login{
  position: absolute;
  width: 370px;
  height: 55px;
  left: calc(50% - 370px/2 + 1px);
  top: calc(50% - 55px/2 - 153.5px);

  background: #000000;
  border: 3px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 15px;

  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 40px;

  color: #FFFFFF;
}

.password{
  position: absolute;
  width: 370px;
  height: 55px;
  left: calc(50% - 370px/2 + 1px);
  top: calc(50% - 55px/2 - 51.5px);

  background: #000000;
  border: 3px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 15px;

  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 40px;

  color: #FFFFFF;
}

.button{
  position: absolute;
  width: 170px;
  height: 55px;
  left: calc(50% - 170px/2);
  top: calc(50% - 55px/2 + 50.5px);

  background: #000000;
  border: 3px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 25px;

  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 40px;

  color: #FFFFFF;
}

.login:hover{
  box-shadow: 0 0 10px white;
}

.password:hover{
  box-shadow: 0 0 10px white;
}

.button:hover{
  box-shadow: 0 0 10px white;
}